@charset "utf-8";
/* CSS Document */

.minipollcontainer ,{
 background-color:#CF6	;
 width:300px;
 position:relative;
}
.minipollhead {
	font-size:17px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight: bold;
}
.minipollanswercontainer,.minipollanswerresultcontainer {
 background-color:#F3F	;
 width:250px;
 position:relative;
 font-size: 15px;
 font-weight: bold;
 font-family:Verdana, Geneva, sans-serif;
 height:40px;
}
.percentholder {
	position:relative;
	width:250px;
	height:20px;
	
}
.percentouter{
	display:block;
	width:200px;
	height:15px;
	background-color:#0CF;
	float:left;
	
}
.percentinner{
	display:block;
	width:0%;
	background-color:#0C0;
	height: 10px;
	
	
}
.percent {
	float:right;
	display:block;
	width:50px;
	text-align:right;
}